<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.NewsCommentMapper">
    <select id="queryComment" resultType="pojo.NewsComment">
        select id,content,author,createdate from news_comment
        <where>
            <if test="newsid!=null">
                newsid=#{newsid}
            </if>
        </where>
    </select>

    <insert id="addComment" parameterType="pojo.NewsComment">
        insert into news_comment
        <trim prefix="(" suffix=")" prefixOverrides=",">
            <if test="content!=null and content!=''">
                ,content
            </if>
            <if test="author!=null and author!=''">
                ,author
            </if>
            <if test="createdate!=null">
                ,createdate
            </if>
            <if test="newsDetail.id !=null">
                ,newsid
            </if>
        </trim>

        <trim prefix="values(" suffix=")" prefixOverrides=",">
            <if test="content!=null and content!=''">
                ,#{content}
            </if>
            <if test="author!=null and author!=''">
                ,#{author}
            </if>
            <if test="createdate!=null">
                ,#{createdate}
            </if>
            <if test="newsDetail.id !=null">
                ,#{newsDetail.id}
            </if>
        </trim>
    </insert>

    <delete id="deleteById" parameterType="int">
        delete from news_comment
        <where>
            <if test="newsid!=null">
                newsid=#{newsid}
            </if>
        </where>
    </delete>
</mapper>